# In this steps, we’ll learn about python datetime functions

datetime functions

Creating Date Objects
Getting year and month from the date
Getting month day and Weekday from date
Getting hour and minutes from the date
Getting Week number of the year from date
Converting date object into timestamp
Converting UNIX timestamp string to date object
Handling timedelta objects
Getting the difference between two dates and times
Formatting dates: strftime() and strptime()
Handling timezones

# Python datetime Classes

datetime – Allows us to manipulate times and dates together (month, day, year, hour, second, microsecond).

date – Allows us to manipulate dates independent of time (month, day, year).

time – Allows us to manipulate time independent of date (hour, minute, second, microsecond).

timedelta— A duration of time used for manipulating dates and measuring.

tzinfo— An abstract class for dealing with time zones.

# Creating Date Objects

In [1]:
from datetime import datetime

In [3]:
# get current date
datetime_object = datetime.now()

print(datetime_object)
print('Type :- ', type(datetime_object))

2019-12-26 14:13:32.225019
Type :-  <class 'datetime.datetime'>

# Handling Date and Time Strings with strptime() and strftime()

strptime() - read strings with date and time information and convert them to datetime objects 

strftime() - converts datetime objects back into strings.

In [5]:
my_string = '2019-12-26'

my_date = datetime.strptime(my_string, "%Y-%m-%d")

print(my_date)
print('TYpe -', type(my_date))

2019-12-26 00:00:00
TYpe - <class 'datetime.datetime'>

In [9]:
print('Year: ', my_date.year)
print('Month: ', my_date.month)
print('Day: ', my_date.day)

Year:  2019
Month:  12
Day:  26

# Getting Day of the Month and Day of the Week from a Date

Convert this to a text format (i.e. Monday, Tuesday, Wednesday…) using the calendar module and a method called day_name.

In [11]:
import calendar

print('Day of month: ', my_date.day)
print('Day of week (number): ', my_date.weekday())
print('Day of week (name): ', calendar.day_name[my_date.weekday()])

Day of month:  26
Day of week (number):  3
Day of week (name):  Thursday

In [16]:
j = 0

for i in calendar.day_name:
    print(j,' - ',i)
    j+=1

0  -  Monday
1  -  Tuesday
2  -  Wednesday
3  -  Thursday
4  -  Friday
5  -  Saturday
6  -  Sunday

# Getting Hours and Minutes From a Python Datetime Object

In [22]:
todays_date = datetime.now()

print('Day: ', todays_date.hour)
print('Minute: ', todays_date.minute)

Day:  9
Minute:  45

# Getting Week of the Year from a Datetime Object

We can get the year, week of the year, and day of the week from a datetime object with the .isocalendar() function.

Specifically, isocalendar() returns a tuple with ISO year, week number and weekday. The ISO calendar is a widely-used standard calendar based on the Gregorian calendar. You can read about it in more detail at that link, but for our purposes, all we need to know is that it works as a regular calendar, starting each week on Monda

In [23]:
todays_date.isocalendar()

(2019, 52, 5)

Note that in the ISO calendar, the week starts counting from 1, so here 5 represents the correct day of the week: Friday.

We can see from the above that this is the 43rd week of the year, but if we wanted to isolate that number, we could do so with indexing just as we might for any other Python list or tuple:

In [24]:
todays_date.isocalendar()[1]

52

# Converting a Date Object into Unix Timestamp and Vice Versa

In [26]:
now = datetime.now()
timestamp = datetime.timestamp(now)

print('Now: ', now)
print('Timestamp: ', timestamp)

Now:  2019-12-27 09:52:29.228456
Timestamp:  1577451149.228456

In [28]:
timestamp = 1577451149.228456

time_object = datetime.fromtimestamp(timestamp)

print('Converted: ', time_object)
print('Type: ', type(time_object))

Converted:  2019-12-27 09:52:29.228456
Type:  <class 'datetime.datetime'>

# Measuring Time Span with Timedelta Objects

Often, we may want to measure a span of time, or a duration, using Python datetime. We can do this with its built-in timedelta class. A timedelta object represents the amount of time between two dates or times. We can use this to measure time spans, or manipulate dates or times by adding and subtracting from them, etc.

By default a timedelta object has all parameters set to zero. Let’s create a new timedelta object that’s two weeks long and see how that looks

In [29]:
from datetime import timedelta

# create a timedelta with a differrence of 2 weeks
d = timedelta(weeks=2)

print(d)
print(type(d))
print()

14 days, 0:00:00
<class 'datetime.timedelta'>

In [31]:
year = timedelta(days=365)

print(year)

365 days, 0:00:00

In [36]:
now = datetime.now()

print("Today's date: ", str(now))

after_15_days_date = now + timedelta(days=15)

print('After 15 days: ', after_15_days_date)

Today's date:  2019-12-27 11:22:16.845740
After 15 days:  2020-01-11 11:22:16.845740

In [37]:
# subtracting 2 weeks
two_weeks_ago = now - timedelta(weeks=2)

print('2 weeks ago: ', two_weeks_ago)
print('Type: ', type(two_weeks_ago))

2 weeks ago:  2019-12-13 11:22:16.845740
Type:  <class 'datetime.datetime'>

# Find the Difference Between Two Dates and Times

In [43]:
# import date
from datetime import date

date1 = date(2019,9,9)
date2 = date(2019,10,9)

delta = date2 - date1

print('Difference: ', delta.days)
print('Type: ', type(delta))

Difference:  30
Type:  <class 'datetime.timedelta'>

In [44]:
# we can do the same using datetime

# year, month,  day, hour, minute, seconds
date1 = datetime(2019,9,9,13,46,23)
date2 = datetime(2019,10,9,17,33,45)

diff = date2 - date1

print('Difference: ', diff)
print('Type: ', type(diff))

Difference:  30 days, 3:47:22
Type:  <class 'datetime.timedelta'>

# Formatting Dates: More on strftime() and strptime()

Let’s try converting a different kind of date string this time

strptime() - read strings with date and time information and convert them to datetime objects 

strftime() - converts datetime objects back into strings.

In [45]:
date_string = '12 August, 2019'

date_object = datetime.strptime(date_string, "%d %B, %Y")

print('Converted: ', date_object)

Converted:  2019-08-12 00:00:00

In [47]:
df_string = "11/9/2018 11:23:54"

df_obj1 = datetime.strptime(df_string, "%d/%m/%Y %H:%M:%S")
print(df_obj1)

tm_stamp = datetime.timestamp(df_obj1)
print('Timestamp: ', tm_stamp)

2018-09-11 11:23:54
Timestamp:  1536675834.0

In [48]:
# Converting
converter = datetime.fromtimestamp(tm_stamp)
print('Converted: ', converter)

Converted:  2018-09-11 11:23:54

In [50]:
d = converter.strftime("%c")
print('Outpu 1: ', d)

d = converter.strftime("%x")
print('Outpu 2: ', d)

d = converter.strftime("%X")
print('Outpu 3: ', d)

Outpu 1:  Tue Sep 11 11:23:54 2018
Outpu 2:  09/11/18
Outpu 3:  11:23:54

In [56]:
now = datetime.now()

year = now.strftime("%Y")
print('Year: ', year)

month = now.strftime("%m")
print('Monthr: ', month)

day = now.strftime("%d")
print('Day: ', day)

time = now.strftime("%H:%M:%S")
print('Hour: ', time)

date_time = now.strftime("%Y/%m/%d %H:%M:%S ")
print('Date and Time: ', date_time)

Year:  2019
Monthr:  12
Day:  27
Hour:  15:20:27
Date and Time:  2019/12/27 15:20:27

# Handling Timezones

Working with dates and times in Pythin can get even more complicated when timezones get involved. Thankfully, the pytz module exists to help us deal with cross-timezone conversions. It also handles the daylight savings time in locations that use that.

We can use the localize function to add a time zone location to a Python datetime object. Then we can use the function astimezone() to convert the existing local time zone into any other time zone we specify (it takes the time zone we want to convert into as an argument).

In [75]:
from pytz import timezone

east = timezone('US/Eastern')

loc_dt = east.localize(datetime(2019, 12, 27, 15, 32, 23))

print(loc_dt)

2019-12-27 15:32:23-05:00

In [64]:
kolkata = timezone('Asia/Kolkata')
print(loc_dt.astimezone(kolkata))

aust = timezone('Australia/Sydney')
print(loc_dt.astimezone(aust))

br = timezone('America/Sao_Paulo')
print(loc_dt.astimezone(br))

2019-12-28 02:02:23+05:30
2019-12-28 07:32:23+11:00
2019-12-27 18:32:23-02:00

In [80]:
# All timezones
import pytz

for ptz in pytz.all_timezones:
    print(ptz)

Africa/Abidjan
Africa/Accra
Africa/Addis_Ababa
Africa/Algiers
Africa/Asmara
Africa/Asmera
Africa/Bamako
Africa/Bangui
Africa/Banjul
Africa/Bissau
Africa/Blantyre
Africa/Brazzaville
Africa/Bujumbura
Africa/Cairo
Africa/Casablanca
Africa/Ceuta
Africa/Conakry
Africa/Dakar
Africa/Dar_es_Salaam
Africa/Djibouti
Africa/Douala
Africa/El_Aaiun
Africa/Freetown
Africa/Gaborone
Africa/Harare
Africa/Johannesburg
Africa/Juba
Africa/Kampala
Africa/Khartoum
Africa/Kigali
Africa/Kinshasa
Africa/Lagos
Africa/Libreville
Africa/Lome
Africa/Luanda
Africa/Lubumbashi
Africa/Lusaka
Africa/Malabo
Africa/Maputo
Africa/Maseru
Africa/Mbabane
Africa/Mogadishu
Africa/Monrovia
Africa/Nairobi
Africa/Ndjamena
Africa/Niamey
Africa/Nouakchott
Africa/Ouagadougou
Africa/Porto-Novo
Africa/Sao_Tome
Africa/Timbuktu
Africa/Tripoli
Africa/Tunis
Africa/Windhoek
America/Adak
America/Anchorage
America/Anguilla
America/Antigua
America/Araguaina
America/Argentina/Buenos_Aires
America/Argentina/Catamarca
America/Argentina/ComodRivadavia
America/Argentina/Cordoba
America/Argentina/Jujuy
America/Argentina/La_Rioja
America/Argentina/Mendoza
America/Argentina/Rio_Gallegos
America/Argentina/Salta
America/Argentina/San_Juan
America/Argentina/San_Luis
America/Argentina/Tucuman
America/Argentina/Ushuaia
America/Aruba
America/Asuncion
America/Atikokan
America/Atka
America/Bahia
America/Bahia_Banderas
America/Barbados
America/Belem
America/Belize
America/Blanc-Sablon
America/Boa_Vista
America/Bogota
America/Boise
America/Buenos_Aires
America/Cambridge_Bay
America/Campo_Grande
America/Cancun
America/Caracas
America/Catamarca
America/Cayenne
America/Cayman
America/Chicago
America/Chihuahua
America/Coral_Harbour
America/Cordoba
America/Costa_Rica
America/Creston
America/Cuiaba
America/Curacao
America/Danmarkshavn
America/Dawson
America/Dawson_Creek
America/Denver
America/Detroit
America/Dominica
America/Edmonton
America/Eirunepe
America/El_Salvador
America/Ensenada
America/Fort_Nelson
America/Fort_Wayne
America/Fortaleza
America/Glace_Bay
America/Godthab
America/Goose_Bay
America/Grand_Turk
America/Grenada
America/Guadeloupe
America/Guatemala
America/Guayaquil
America/Guyana
America/Halifax
America/Havana
America/Hermosillo
America/Indiana/Indianapolis
America/Indiana/Knox
America/Indiana/Marengo
America/Indiana/Petersburg
America/Indiana/Tell_City
America/Indiana/Vevay
America/Indiana/Vincennes
America/Indiana/Winamac
America/Indianapolis
America/Inuvik
America/Iqaluit
America/Jamaica
America/Jujuy
America/Juneau
America/Kentucky/Louisville
America/Kentucky/Monticello
America/Knox_IN
America/Kralendijk
America/La_Paz
America/Lima
America/Los_Angeles
America/Louisville
America/Lower_Princes
America/Maceio
America/Managua
America/Manaus
America/Marigot
America/Martinique
America/Matamoros
America/Mazatlan
America/Mendoza
America/Menominee
America/Merida
America/Metlakatla
America/Mexico_City
America/Miquelon
America/Moncton
America/Monterrey
America/Montevideo
America/Montreal
America/Montserrat
America/Nassau
America/New_York
America/Nipigon
America/Nome
America/Noronha
America/North_Dakota/Beulah
America/North_Dakota/Center
America/North_Dakota/New_Salem
America/Ojinaga
America/Panama
America/Pangnirtung
America/Paramaribo
America/Phoenix
America/Port-au-Prince
America/Port_of_Spain
America/Porto_Acre
America/Porto_Velho
America/Puerto_Rico
America/Punta_Arenas
America/Rainy_River
America/Rankin_Inlet
America/Recife
America/Regina
America/Resolute
America/Rio_Branco
America/Rosario
America/Santa_Isabel
America/Santarem
America/Santiago
America/Santo_Domingo
America/Sao_Paulo
America/Scoresbysund
America/Shiprock
America/Sitka
America/St_Barthelemy
America/St_Johns
America/St_Kitts
America/St_Lucia
America/St_Thomas
America/St_Vincent
America/Swift_Current
America/Tegucigalpa
America/Thule
America/Thunder_Bay
America/Tijuana
America/Toronto
America/Tortola
America/Vancouver
America/Virgin
America/Whitehorse
America/Winnipeg
America/Yakutat
America/Yellowknife
Antarctica/Casey
Antarctica/Davis
Antarctica/DumontDUrville
Antarctica/Macquarie
Antarctica/Mawson
Antarctica/McMurdo
Antarctica/Palmer
Antarctica/Rothera
Antarctica/South_Pole
Antarctica/Syowa
Antarctica/Troll
Antarctica/Vostok
Arctic/Longyearbyen
Asia/Aden
Asia/Almaty
Asia/Amman
Asia/Anadyr
Asia/Aqtau
Asia/Aqtobe
Asia/Ashgabat
Asia/Ashkhabad
Asia/Atyrau
Asia/Baghdad
Asia/Bahrain
Asia/Baku
Asia/Bangkok
Asia/Barnaul
Asia/Beirut
Asia/Bishkek
Asia/Brunei
Asia/Calcutta
Asia/Chita
Asia/Choibalsan
Asia/Chongqing
Asia/Chungking
Asia/Colombo
Asia/Dacca
Asia/Damascus
Asia/Dhaka
Asia/Dili
Asia/Dubai
Asia/Dushanbe
Asia/Famagusta
Asia/Gaza
Asia/Harbin
Asia/Hebron
Asia/Ho_Chi_Minh
Asia/Hong_Kong
Asia/Hovd
Asia/Irkutsk
Asia/Istanbul
Asia/Jakarta
Asia/Jayapura
Asia/Jerusalem
Asia/Kabul
Asia/Kamchatka
Asia/Karachi
Asia/Kashgar
Asia/Kathmandu
Asia/Katmandu
Asia/Khandyga
Asia/Kolkata
Asia/Krasnoyarsk
Asia/Kuala_Lumpur
Asia/Kuching
Asia/Kuwait
Asia/Macao
Asia/Macau
Asia/Magadan
Asia/Makassar
Asia/Manila
Asia/Muscat
Asia/Nicosia
Asia/Novokuznetsk
Asia/Novosibirsk
Asia/Omsk
Asia/Oral
Asia/Phnom_Penh
Asia/Pontianak
Asia/Pyongyang
Asia/Qatar
Asia/Qostanay
Asia/Qyzylorda
Asia/Rangoon
Asia/Riyadh
Asia/Saigon
Asia/Sakhalin
Asia/Samarkand
Asia/Seoul
Asia/Shanghai
Asia/Singapore
Asia/Srednekolymsk
Asia/Taipei
Asia/Tashkent
Asia/Tbilisi
Asia/Tehran
Asia/Tel_Aviv
Asia/Thimbu
Asia/Thimphu
Asia/Tokyo
Asia/Tomsk
Asia/Ujung_Pandang
Asia/Ulaanbaatar
Asia/Ulan_Bator
Asia/Urumqi
Asia/Ust-Nera
Asia/Vientiane
Asia/Vladivostok
Asia/Yakutsk
Asia/Yangon
Asia/Yekaterinburg
Asia/Yerevan
Atlantic/Azores
Atlantic/Bermuda
Atlantic/Canary
Atlantic/Cape_Verde
Atlantic/Faeroe
Atlantic/Faroe
Atlantic/Jan_Mayen
Atlantic/Madeira
Atlantic/Reykjavik
Atlantic/South_Georgia
Atlantic/St_Helena
Atlantic/Stanley
Australia/ACT
Australia/Adelaide
Australia/Brisbane
Australia/Broken_Hill
Australia/Canberra
Australia/Currie
Australia/Darwin
Australia/Eucla
Australia/Hobart
Australia/LHI
Australia/Lindeman
Australia/Lord_Howe
Australia/Melbourne
Australia/NSW
Australia/North
Australia/Perth
Australia/Queensland
Australia/South
Australia/Sydney
Australia/Tasmania
Australia/Victoria
Australia/West
Australia/Yancowinna
Brazil/Acre
Brazil/DeNoronha
Brazil/East
Brazil/West
CET
CST6CDT
Canada/Atlantic
Canada/Central
Canada/Eastern
Canada/Mountain
Canada/Newfoundland
Canada/Pacific
Canada/Saskatchewan
Canada/Yukon
Chile/Continental
Chile/EasterIsland
Cuba
EET
EST
EST5EDT
Egypt
Eire
Etc/GMT
Etc/GMT+0
Etc/GMT+1
Etc/GMT+10
Etc/GMT+11
Etc/GMT+12
Etc/GMT+2
Etc/GMT+3
Etc/GMT+4
Etc/GMT+5
Etc/GMT+6
Etc/GMT+7
Etc/GMT+8
Etc/GMT+9
Etc/GMT-0
Etc/GMT-1
Etc/GMT-10
Etc/GMT-11
Etc/GMT-12
Etc/GMT-13
Etc/GMT-14
Etc/GMT-2
Etc/GMT-3
Etc/GMT-4
Etc/GMT-5
Etc/GMT-6
Etc/GMT-7
Etc/GMT-8
Etc/GMT-9
Etc/GMT0
Etc/Greenwich
Etc/UCT
Etc/UTC
Etc/Universal
Etc/Zulu
Europe/Amsterdam
Europe/Andorra
Europe/Astrakhan
Europe/Athens
Europe/Belfast
Europe/Belgrade
Europe/Berlin
Europe/Bratislava
Europe/Brussels
Europe/Bucharest
Europe/Budapest
Europe/Busingen
Europe/Chisinau
Europe/Copenhagen
Europe/Dublin
Europe/Gibraltar
Europe/Guernsey
Europe/Helsinki
Europe/Isle_of_Man
Europe/Istanbul
Europe/Jersey
Europe/Kaliningrad
Europe/Kiev
Europe/Kirov
Europe/Lisbon
Europe/Ljubljana
Europe/London
Europe/Luxembourg
Europe/Madrid
Europe/Malta
Europe/Mariehamn
Europe/Minsk
Europe/Monaco
Europe/Moscow
Europe/Nicosia
Europe/Oslo
Europe/Paris
Europe/Podgorica
Europe/Prague
Europe/Riga
Europe/Rome
Europe/Samara
Europe/San_Marino
Europe/Sarajevo
Europe/Saratov
Europe/Simferopol
Europe/Skopje
Europe/Sofia
Europe/Stockholm
Europe/Tallinn
Europe/Tirane
Europe/Tiraspol
Europe/Ulyanovsk
Europe/Uzhgorod
Europe/Vaduz
Europe/Vatican
Europe/Vienna
Europe/Vilnius
Europe/Volgograd
Europe/Warsaw
Europe/Zagreb
Europe/Zaporozhye
Europe/Zurich
GB
GB-Eire
GMT
GMT+0
GMT-0
GMT0
Greenwich
HST
Hongkong
Iceland
Indian/Antananarivo
Indian/Chagos
Indian/Christmas
Indian/Cocos
Indian/Comoro
Indian/Kerguelen
Indian/Mahe
Indian/Maldives
Indian/Mauritius
Indian/Mayotte
Indian/Reunion
Iran
Israel
Jamaica
Japan
Kwajalein
Libya
MET
MST
MST7MDT
Mexico/BajaNorte
Mexico/BajaSur
Mexico/General
NZ
NZ-CHAT
Navajo
PRC
PST8PDT
Pacific/Apia
Pacific/Auckland
Pacific/Bougainville
Pacific/Chatham
Pacific/Chuuk
Pacific/Easter
Pacific/Efate
Pacific/Enderbury
Pacific/Fakaofo
Pacific/Fiji
Pacific/Funafuti
Pacific/Galapagos
Pacific/Gambier
Pacific/Guadalcanal
Pacific/Guam
Pacific/Honolulu
Pacific/Johnston
Pacific/Kiritimati
Pacific/Kosrae
Pacific/Kwajalein
Pacific/Majuro
Pacific/Marquesas
Pacific/Midway
Pacific/Nauru
Pacific/Niue
Pacific/Norfolk
Pacific/Noumea
Pacific/Pago_Pago
Pacific/Palau
Pacific/Pitcairn
Pacific/Pohnpei
Pacific/Ponape
Pacific/Port_Moresby
Pacific/Rarotonga
Pacific/Saipan
Pacific/Samoa
Pacific/Tahiti
Pacific/Tarawa
Pacific/Tongatapu
Pacific/Truk
Pacific/Wake
Pacific/Wallis
Pacific/Yap
Poland
Portugal
ROC
ROK
Singapore
Turkey
UCT
US/Alaska
US/Aleutian
US/Arizona
US/Central
US/East-Indiana
US/Eastern
US/Hawaii
US/Indiana-Starke
US/Michigan
US/Mountain
US/Pacific
US/Samoa
UTC
Universal
W-SU
WET
Zulu

# Working with pandas Datetime Objects

We can convert date, time, and duration text strings into pandas Datetime objects using these functions:

to_datetime(): Converts string dates and times into Python datetime objects.
to_timedelta(): Finds differences in times in terms of days, hours, minutes, and seconds.
And as we’ll see, these functions are actually quite good at converting strings to Python datetime objects by detecting their format automatically, without needing us to define it using strftime patterns.

In [88]:
import pandas as pd
import numpy as np

date = pd.to_datetime('28th of dec, 2019')
print(date)

2019-12-28 00:00:00

In [89]:

date_series = date + pd.to_timedelta(np.arange(20), 'D')
print(date_series)

DatetimeIndex(['2019-12-28', '2019-12-29', '2019-12-30', '2019-12-31',
               '2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10', '2020-01-11', '2020-01-12',
               '2020-01-13', '2020-01-14', '2020-01-15', '2020-01-16'],
              dtype='datetime64[ns]', freq=None)

# Get Year, Month, Day, Hour, Minute in pandas

We can easily get year, month, day, hour, or minute from dates in a column of a pandas dataframe using dt attributes for all columns. For example, we can use df['date'].dt.year to extract only the year from a pandas column that includes the full date.

In [91]:
df = pd.DataFrame()
df['Date'] = date_series
df.head()

        Date
0 2019-12-28
1 2019-12-29
2 2019-12-30
3 2019-12-31
4 2020-01-01

In [92]:
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month
df['Day'] = df['Date'].dt.day
df['Hour'] = df['Date'].dt.hour
df['Minute'] = df['Date'].dt.minute
df.head()

        Date  Year  Month  Day  Hour  Minute
0 2019-12-28  2019     12   28     0       0
1 2019-12-29  2019     12   29     0       0
2 2019-12-30  2019     12   30     0       0
3 2019-12-31  2019     12   31     0       0
4 2020-01-01  2020      1    1     0       0

# Get Weekday and Day of Year

Note that here, as in Python generally, the week starts on Monday at index 0, so day of the week 5 is Saturday

In [94]:
df['Day_of_Year'] = df['Date'].dt.dayofyear
df['Weekday'] = df['Date'].dt.weekday
df['Day_Name'] = df['Date'].dt.weekday_name
df.head()

,Date,Year,Month,Day,Hour,Minute,dayofyear,weekday,day_name,Day_of_Year,Weekday,Day_Name
0,2019-12-28,2019,12,28,0,0,362,5,Saturday,362,5,Saturday
1,2019-12-29,2019,12,29,0,0,363,6,Sunday,363,6,Sunday
2,2019-12-30,2019,12,30,0,0,364,0,Monday,364,0,Monday
3,2019-12-31,2019,12,31,0,0,365,1,Tuesday,365,1,Tuesday
4,2020-01-01,2020,1,1,0,0,1,2,Wednesday,1,2,Wednesday

# Convert Date Object into DataFrame Index

We can also use pandas to make a datetime column into the index of our DataFrame. This can be very helpful for tasks like exploratory data visualization, because matplotlib will recognize that the DataFrame index is a time series and plot the data accordingly.

To do this, all we have to do is redefine df.index:

In [98]:
df.index = df.Date
df.head()

,Date,Year,Month,Day,Hour,Minute,dayofyear,weekday,day_name,Day_of_Year,Weekday,Day_Name
Date,,,,,,,,,,,,
2019-12-28,2019-12-28,2019,12,28,0,0,362,5,Saturday,362,5,Saturday
2019-12-29,2019-12-29,2019,12,29,0,0,363,6,Sunday,363,6,Sunday
2019-12-30,2019-12-30,2019,12,30,0,0,364,0,Monday,364,0,Monday
2019-12-31,2019-12-31,2019,12,31,0,0,365,1,Tuesday,365,1,Tuesday
2020-01-01,2020-01-01,2020,1,1,0,0,1,2,Wednesday,1,2,Wednesday